*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    margin: 30px;
}
.counter{
    width: 30%;
    display: flex;
    justify-content: center;
}
#increment-btn, #decrement-btn, #reset, #min3-btn, #add3-btn{
    height: 50px;
    width: 80px;
    padding: 0 40px;
    border-radius: 10px;
    font-size: 40px;
    background-color: black;
    color: white;
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#reset{
    background-color: red;
}
#counter-value{
    height: 50px;
    min-width: 120px;
    border-radius: 10px;
    background-color: black;
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
